@import "compass/reset";
@import "partials/mixins";
@import "partials/clearfix";

$base-font-size: 16;

body {
 font-family: Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

/*-----------------------------------------------------------------------------
 *           $HELPERS            
 *---------------------------------------------------------------------------*/
.fleft {
  float: left;
}

.fright {
  float: right;
}

/*-----------------------------------------------------------------------------
 *           $HEADER            
 *---------------------------------------------------------------------------*/
.header {
  text-align: center;
  margin: 1em 0;
}
 
.main-container {
  max-width: 960px;
  margin: 0 auto;
}

.header img {
  width: 10%;
}
 
/*-----------------------------------------------------------------------------
 *           $HEADERS            
 *---------------------------------------------------------------------------*/
.main-title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 1em;
  width: 80%;
}

.sub-title {
  background: #666;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  margin: 1em 0;
  padding: pem(8) pem(90);
  text-align: center;
}
 
/*-----------------------------------------------------------------------------
 *           CONTENT            
 *---------------------------------------------------------------------------*/
.content {
  background: url(../img/bg.jpg) #ccc;
  padding: pem(8) pem(10) pem(8) pem(40);
  margin-bottom: 1em;
}

/*-----------------------------------------------------------------------------
 *           QUESTION            
 *---------------------------------------------------------------------------*/
.question {
  float: left;
  width: 50%;
}
 
.question-name {
  font-size: 32px;
  font-weight: bold;
  margin-top: 17px;
}

.question-ask {
  font-size: 22px;
  font-weight: bold;
}

/*-----------------------------------------------------------------------------
 *           OPTIONS            
 *---------------------------------------------------------------------------*/

.options {
  float: right;
  width: 22%;
}

.option:hover {
  opacity: 0.7;
}
 
.opciontaba {
  margin-right: 0.5em;
}
 
/*-----------------------------------------------------------------------------
 *           PRANKS            
 *---------------------------------------------------------------------------*/
.mudo {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
}

.hide {
  display: none;
}
 

.gente-brava {
  background: yellow;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 50%;
}
 
 
footer {
  text-align: center;
}

.opciontrue {
  position: relative;
}
 
.soda {
  position: absolute;
  top:0;
  left: 0;
  z-index: 999;
}


.soda img {
  max-width: none; 
}

small {
  font-size: 10px;
  color: #999;
}

