/*-----------------------------------------------------------------------------
 *           HELPERS            
 *---------------------------------------------------------------------------*/

/* FLOATS CLASSES */
.fleft {
  float: left;
}
 
.fright {
  float: right;
}

.fnone {
  float: none;
}
