/* As seen on http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */

.media {
  margin:10px;
}

.media, 
.media-body {
  overflow:hidden;
  _overflow:visible;
  zoom:1;
}

.media .img {
  float:left;
  margin-right: 10px;
}

.media .img img {
  display:block;
}

.media .img-ext {
  float:right;
  margin-left: 10px;
}
