/**
* Taked from https://github.com/csswizardry/inuit.css
* Create a fully formed type style (sizing and vertical rhythm) by passing in a
* single value, e.g.:
*
`@include font-size(10);`
*
* Thanks to @redclov3r for the `line-height` Sass:
* twitter.com/redclov3r/status/250301539321798657
*/
@mixin font-size($font-size){
  font-size:$font-size +px;
  font-size:$font-size / $base-font-size +rem;
  line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

/*
* Convert PX to EM (As seen on http://thesassway.com/intermediate/responsive-web-design-part-1)
*/
@function pem($target-px:16, $base-font-size:$base-font-size) {
  @return ($target-px / $base-font-size) * 1em;
}
